// app global css in SCSS form
body {
  background-color: $dark;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.my-btn {
  color: #fff;
  background-color: $primary;
}

.my-card {
  color: black;
  background-color: white;
  max-width: 400px;
  width: 400px;
}
